$archivo: 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$oldtt: 'Old Standard TT','offline-old_standard_ttregular', 'Roboto', sans-serif, arial;
$roboto: 'Roboto', 'offline-roboto', 'Archivo', sans-serif, arial;
$oswald: 'Oswald', 'offline-oswald', 'Archivo', sans-serif, arial;
$brown: #BEAD8E;
$gray: #F8F8F8;
$lightgray: #f9f9f9;
$darkgray: #777777;
$graytwo: #C2C2C2;
$graythree: #F8F8F8;
$black: #222222;
$blacktwo: #333333;
$blackthree: #111111;
$white: #fff;
$trueblack: #000;
$browntwo: #BDAC8D;