@use '../const/variables.scss' as *;
@use '../const/mixins.scss' as *;
@use '../components/button.scss';
@use '../components/room.scss';

.offers {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;

    &__item {
        margin: 0 1.25rem;
        box-shadow: 0 0.88rem 1.5rem rgb(184, 184, 184, .1);

        &__image {
            position: relative;
            height: 10.13rem;

            & img {
                height: 10.13rem;
                width: 100%;
                object-fit: cover;
            }
        }

        &__information {
            &__old-price, &__new-price {
                display: none;
            } 
        }

        &__old-price {
            position: absolute;
            top: 5.06rem;
            right: 0.94rem;
            font-weight: 700;
            color: $brown;

            & span {
                font-size: 0.69rem;
                line-height: 0.75rem;
                text-decoration: line-through;
            }

            & span.strike {
                font-size: 1.44rem;
                line-height: 1.56rem;
                text-decoration: line-through;
            }
        }

        &__new-price {
            position: absolute;
            top: 7.33rem;
            right: 0.94rem;
            font-weight: 700;
            font-size: 1.88rem;
            line-height: 2.04rem;
            color: #DE5777;

            & span {
                font-size: 0.75rem;
                line-height: 0.82rem;
            }
        }

        &__title {
            padding: 0 1.25rem;
            margin-top: 1rem;
            @include basicTitle;
            color: $darkgray;
        }

        &__caption {
            padding: 0 1.25rem;
            margin-top: 0.75rem;
            font-family: $oldtt;
            font-weight: 400;
            font-size: 2.5rem;
            color: $black;
            line-height: 3rem;
            letter-spacing: -0.09rem;
            max-width: 14ch;
        }

        &__separator {
            display: none;
        }

        &__description {
            padding: 0 1.25rem;
            margin-top: 1rem;
            font-family: $roboto;
            font-weight: 400;
            font-size: 0.88rem;
            line-height: 1.5rem;
            color: $darkgray;
        }

        &__ul {
            padding: 0 1.25rem;
            margin-top: 1.5rem;
            columns: 2;
            list-style: none;
            font-family: $roboto;
            font-weight: 500;
            font-size: 0.94rem;
            line-height: 1.1rem;
            color: $darkgray;

            & li {
                margin-bottom: 1rem;

                & img {
                    width: 1rem;
                    height: 1rem;
                    margin-right: 0.5rem;
                }
            }
        }

        &__button {
            margin: 0 1.25rem;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            width: 58%;
        }
    }

    &__popular {
        margin-top: 1.75rem;
        padding-bottom: 3rem;
        background-color: $black;

        &__title {
            width: 100%;
            text-align: center;
            margin-top: 3rem;
            font-weight: 500;
            font-size: 0.88rem;
            line-height: 0.95rem;
            color: $brown;
            letter-spacing: 0.17rem;
            text-transform: uppercase;
        }

        &__caption {
            width: 100%;
            text-align: center;
            margin-top: 1.56rem;
            color: $white;
            font-family: $oldtt;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: -0.05rem;
        }

        &__swiper {
            margin: 0 1.25rem;
            margin-top: 3rem;
            position: relative;
        }

        &__swiper-next, &__swiper-prev {
            position: absolute;
            z-index: 9;
            width: 2rem;
            height: 2rem;
            background-color: $white;
            top: 5.81rem;

            transition: background-color 0.6s ease-in-out;
            @include flex-center;

            &:hover, &:active {
                background-color: $brown;
            }

            & img {
                width: 0.6rem;
                height: 0.6rem;
                object-fit: contain;
            }
        }

        &__swiper-next {
            right: -0.25rem;
        }

        &__swiper-prev {
            left: -0.25rem;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .offers {
        display: flex;
        align-items: center;

        &__item {
            width: 75%;
            max-width: 130ch;

            &__image {
                height: 35.625rem;
    
                & img {
                    height: 35.625rem;
                }
            }

            &__information {
                position: relative;
                top: -3.875rem;
                margin: 0 3.75rem;
                padding: 0 3.572rem;
                background-color: white;
                z-index: 1;
                border-top: 0.375rem solid $browntwo;

                &__old-price {
                    display: block;
                    position: absolute;
                    top: 3.448rem;
                    right: 4.31rem;
                    font-weight: 700;
                    color: $brown;
        
                    & span {
                        font-size: 0.69rem;
                        line-height: 0.75rem;
                        text-decoration: line-through;
                    }
        
                    & span.strike {
                        font-size: 1.44rem;
                        line-height: 1.56rem;
                        text-decoration: line-through;
                    }
                }
        
                &__new-price {
                    display: block;
                    position: absolute;
                    top: calc(3.448rem + 2.27rem);
                    right: 4.31rem;
                    font-weight: 700;
                    font-size: 2.5em;
                    line-height: 2.72rem;
                    color: #DE5777;
        
                    & span {
                        font-size: 0.75rem;
                        line-height: 0.82rem;
                    }
                }
            }

            &__old-price,    
            &__new-price  {
                display: none;
            }

            &__title {
                margin-top: 3.448rem;
            }

            &__caption {
                max-width: 75%;
                font-size: 3rem;
                line-height: 3rem;
            }

            &__description {
                max-width: 58%;
                font-size: 1rem;
                line-height: 1.5rem;
            }

            &__separator {
                display: block;
                width: 100%;
                height: 0.125rem;
                background-color: #ECECEC;
                margin-top: 2.553rem;
                margin-bottom: 2.29rem;
                position: relative;
            }

            &__ul {
                max-width: 40%;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 0;
                font-size: 1rem;
                line-height: 1.172rem;
            }

            &__details {
                position: relative;
                width: 100%;
            }

            &__button {
                width: 35%;
                max-width: 13.5rem;
            }
        }


        &__popular {
            width: 100%;
            padding-bottom: 7.5rem;

            &__title {
                margin-top: 4.26rem;
            }

            &__caption {
                margin-top: 5.25rem;
                font-size: 5rem;
                line-height: 5rem;
            }

            &__swiper {
                margin: 0 1.25rem;
                margin-top: 4.99rem;
                position: relative;
                width: 100%;

                & .swiper-wrapper {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(23.125rem, 23.125rem));
                    width: 100%;
                    justify-content: center;
                    gap: 1rem;
                }

            }

            &__swiper-next, 
            &__swiper-prev {
                display: none;
            }
            
        }
    }
}